<section class="kudosplease gradient-border">
    <div class="header">หากชอบสามารถกดให้ Kudos ได้ตรงนี้ครับ 👏</div>
    <div class="kudos" data-amount="0" data-url="{{url absolute="true"}}"></div>
</section>